<main class="dash-content">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-4">
        <div class="card text-center">
          <div class="card-header">
            Plan A
          </div>
          <div class="card-body">
            <h5 class="card-title">$5.1/lb</h5>
            <p class="card-text">Minimum: 20 pairs</p>
            <a href="/orders/new" class="btn btn-primary">Create</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-center">
          <div class="card-header">
            Plan B
          </div>
          <div class="card-body">
            <h5 class="card-title">$5.25/lb</h5>
            <p class="card-text">Minimum: 20 pairs</p>
            <a href="/orders/new" class="btn btn-primary">Create</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-center">
          <div class="card-header">
            Plan C
          </div>
          <div class="card-body">
            <h5 class="card-title">$7.45/lb</h5>
            <p class="card-text">Minimum: 20 pairs</p>
            <a href="/orders/new" class="btn btn-primary">Create</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
